<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#473d4d">
    <meta name="theme-color" content="#ffffff">

    <title>Modern Ancient</title>
    <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <link rel="stylesheet" href="/css/foundation.min.css">
    <link rel="stylesheet" href="/css/foundation.local.css">  
</head>
  <body>

      {{ content }}
    
  <footer class="responsive-blog-footer">

  <div class="row">
    <div class="medium-8 columns small-order-2 medium-order-1 about-container">
      <div class="row">
        <div class="hide-for-small-only medium-4 columns about-section">
          <img src="/grfx/logo.png">
      <ul class="text-center">
        <li><a href="#">Instagram</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Art & Durable Goods (Etsy)</a></li>
        <li><a href="#"></a></li>
      </ul>

        </div>
        <div class="medium-8 columns about-section">
          <p>Kyle Cunningham uses painting and printmaking to explore the nuances of life forced upon us in this post digital world.  His work explores time and memory’s subtle coloring of our life experience and the ways in which these shape our psyche. Varied subjects range from still life objects significant to his own past to imagined futures where the animal kingdom has borrowed our anthropological technology so all creatures may face the future on an even playing field.  Uniting his work is the idea that we are all connected in this world; the distinction between “human” and “nature” is less than imagined as we are all sharing this same moment.
          </p>
            <p>  Kyle lives with his partner Jeannie upon the banks of the Rio Grande on the edge of the great Gila Wilderness in Truth or Consequences, NM.  Momentarily tethered but nomads at heart they garden and make things. 
          </p>
        </div>
      </div>
    </div>
    <div class="small-12 medium-4 columns small-order-1 medium-order-2 mailing-container">
      <h4 class="mailing-list">For Occasional & Random Emails:</h4>
      <input type="text" placeholder="Email Address">
      <a class="button expanded subscribe-button" href="#">Subscribe Now</a>
    </div>
  </div>
    <div class="row columns ">
     <p> all rights reserved</p>
  </div>
</footer>

    
    
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
